.notice-btn-list {
    padding-top : 20px;
    padding-left : 10px;
}

.notice-btn {
    margin-right: 10px;
    padding-right : 10px;
    padding-left : 10px;
    background-color: white;
    color : gray;
}

#dt {
    color : blue;
}

.rdt_TableHeadRow {
    background-color: #DDDDDD;
    font-weight: bold;
    color : black;
}

.question-btn{
    margin-top : 15px;

}

.rdt_Table{
    border-bottom : 1px solid #CCCCCC;
}

#parter-title {
    font-size : 15px;
    font-weight: bold;
    padding-top : 15px;
    padding-bottom : 10px;
    padding-left : 15px;
}

.nav-link.active {
    color: #495057;
    background-color: #fff;
    border-bottom : 5px solid greenyellow !important;
}